<table class="ui center aligned celled table">
  <thead>
    <tr>
      <th>Date</th>
      <th>Weight</th>
      <th>Chest</th>
      <th>Thigh</th>
      <th>Upper arm</th>
      <th>Waist</th>
      <th>Hips</th>
      <th>Trend</th>
      <th>Comment</th>
      <th>Delete Assessment</th>
    </tr>
  </thead>
  <tbody>
    {{#each assessment}}
    <tr>
      <td>
        {{date}}
      </td>
      <td>
        {{weight}}
      </td>
      <td>
        {{chest}}
      </td>
      <td>
        {{thigh}}
      </td>
      <td>
        {{upperarm}}
      </td>
      <td>
        {{waist}}
      </td>
      <td>
        {{hips}}
      </td>
      <td>
        {{#if trend}} 
        <i class="ui green tag label"></i>              
        {{else}}
        <i class="ui red tag label"></i>
        {{/if}} 
      </td>
      <td>
        {{comment}}
      </td>
      <td>
      <a href="/dashboard/deleteassessment/{{id}}" class="ui icon button">
        <i class="red icon trash"></i>        
        </a>
      </td>
    </tr>    
    
    {{/each}}
  </tbody>
</table>