{{>menu id="profile"}}

<div class="ui two column grid basic middle aligned segment">   
  <div class="column">     
    <img class="ui image" src="https://cdn.glitch.com/2dd480f0-24cd-4ef3-be51-2acf19edce20%2Fprofile.jpg?v=1598950359505">   
  </div>   <div class="column">     
  <form class="ui stacked segment form" action="/profile/updateprofile" method="POST">       
    <h3 class="ui header">Update profile</h3>       
    <div class="two fields">         
      <div class="field">           
        <label>Name</label>           
        <input placeholder="Name" type="text" name="member.name" value="{{member.name}}">         
      </div>         
      <div class="field">           
        <label>Gender</label>           
        <input placeholder="Gender" type="text" name="member.gender" value="{{member.gender}}">         
      </div>       
    </div>       
    <div class="field">         
      <label>Email</label>         
      <input placeholder="Email" type="text" name="member.email" value="{{member.email}}">       
    </div>       
    <div class="field">         
      <label>Password</label>         
      <input type="password" name="member.password" value="{{member.password}}">       
    </div>       
    <div class="field">         
      <label>Address</label>         
      <input type="text" name="member.address" value="{{member.address}}">       
    </div>       
    <div class="two fields">         
      <div class="field">           
        <label>Height</label>           
        <input placeholder="Name" type="text" name="member.height" value="{{member.height}}">         
      </div>         
      <div class="field">           
        <label>Starting Weight</label>       
        <input placeholder="Starting Weight" type="text" name="member.startingweight" value="{{member.startingweight}}">         
      </div>       
    </div>       
    <button class="ui blue submit button">Submit</button>     
  </form>   
  </div> 
</div>