{{>menu id="profile"}}

<div class="ui two column grid basic middle aligned segment">   
  
  <div class="column">     
  <form class="ui stacked segment form" action="/profile/updateprofile" method="POST">       
    <h3 class="ui header">Update profile</h3>       
    <div class="two fields">         
      <div class="field">           
        <label>Name</label>           
        <input placeholder="Name" type="text" name="name">         
      </div>         
      <div class="field">           
        <label>Gender</label>           
        <input placeholder="Gender" type="text" name="gender">         
      </div>       
    </div>       
    <div class="field">         
      <label>Email</label>         
      <input placeholder="Email" type="text" name="email">       
    </div>       
    <div class="field">         
      <label>Password</label>         
      <input placeholder="Password" type="password" name="password">       
    </div>       
    <div class="field">         
      <label>Address</label>         
      <input placeholder="Address" type="text" name="address">       
    </div>       
    <div class="two fields">         
      <div class="field">           
        <label>Height</label>           
        <input placeholder="Height" type="text" name="height">         
      </div>         
      <div class="field">           
        <label>Starting Weight</label>       
        <input placeholder="Starting Weight" type="text" name="startingweight">         
      </div>       
    </div>       
    <button class="ui blue submit button">Submit</button>     
  </form>   
  </div> 
  <div class="column">
    <div class="ui grey inverted segment">
        <h3 class="ui header">Your current information</h3>
        <div class="ui list">
            <div class="item">
                <i class="blue large user icon"></i>
                <div class="content">
                {{member.name}}
                </div>
            </div>
            <div class="item">
                <i class="blue large venus mars icon"></i>
                <div class="content">
                {{member.gender}}
                </div>
            </div>
            <div class="item">
                <i class="blue large mail icon"></i>
                <div class="content">
                {{member.email}}
                </div>
            </div>
            <div class="item">
                <i class="blue large marker icon"></i>
                <div class="content">
                    {{member.address}}
                </div>
            </div>
            <div class="item">
                <i class="blue large male icon"></i>
                <div class="content">
                    {{member.height}} cm
                </div>
            </div>
            <div class="item">
                <i class="blue large plus icon"></i>
                <div class="content">
                {{member.startingweight}} kgs
                </div>
            </div>
        </div>
            </div>       
    <img class="ui centered medium  image" src="https://cdn.glitch.com/2dd480f0-24cd-4ef3-be51-2acf19edce20%2Fprofile.jpg?v=1598950359505">   
  </div>
</div>
</div>